// * {                                    //used to check element layout as page is built
//   border: 1px red solid;
// }

$color1:white;                          //saves color to variable for reuse
$color2:rgb(61, 194, 238);
$color3:rgb(53, 15, 99);

body {                                    //sets text color white 
  color:$color1;
  font-size: large;
  
}

a {   
  color:$color1;                                    //sets link text color to white
}



.wrap {                                   //sets page layout
  display:grid;
  grid-template-areas:
  "header header header"
  "aside-one main main"
  "aside-one main main"
  "footer footer footer"
  ;
}

.header {  
  border-radius: 20px;
  background: $color3;                               //adds hover effect to links
  grid-area: header;
  padding: 1rem;
    :hover {
      color:$color2;
   }
 }



.parent {
  width: 19vw;
  height: 80vh;
  overflow: hidden;
}

.parent > img {
  height: 105px;
  width: 100%;
  object-fit: cover;
}



.aside-one {
  grid-area: aside-one;
  padding-left: 7%;
  
}

.main {
  grid-area: main;
  display:flex;
}

.alignr {                                 //aligns content in main and centers text
  padding-left:10%;
  padding-right: 10%;
  justify-content:center;
}

.aligni {
  padding-top: 2rem;
  padding-right: 2%;
}

  @keyframes fadeIn {                     //creates function for fade in text in main
  0% {opacity: 0; }
  100% {opacity: 1;}
}

.fade-in {                                //sets class to fade in content over 3s
  animation: fadeIn 3s ease-in;
  @media (prefers-reduced-motion) {
    animation: fadeIn 0s ease-in;
    font-size: x-large;
  }
}

p {
  border-radius: 10px 30px;
  border: 1px solid;
  padding: 2em;
  background-color: $color3;
  text-align: center;
  }





@mixin gradient($start-color, $end-color, $orientation) {                 //creates mixin for gradient background color
  background: $start-color;
  @if $orientation == 'vertical' {
    background: -webkit-linear-gradient(top, $start-color, $end-color);
    background: linear-gradient(to bottom, $start-color, $end-color);
  } @else if $orientation == 'horizontal' {
    background: -webkit-linear-gradient(left, $start-color, $end-color);
    background: linear-gradient(to right, $start-color, $end-color);
  } @else {
    background: -webkit-radial-gradient(center, ellipse cover, $start-color, $end-color);
    background: radial-gradient(ellipse at center, $start-color, $end-color);
  }
}

.gradient {
  @include gradient(rgb(139, 223, 235), rgb(52, 20, 90), top left);     //chooses color and orientation of gradient background
}


.footer {
  grid-area: footer;
  // text-align:center;
  
  }
  
  
 


