// * {                                    //used to check element layout as page is built
//   border: 1px red solid;
// }

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


$color1:white;                          //saves color to variable for reuse
$color2:rgb(35, 35, 250);
$color3: rgb(212, 144, 233);


@mixin gradient($start-color, $end-color, $orientation) {                 //creates mixin for gradient background color
  background: $start-color;
  @if $orientation == 'vertical' {
    background: -webkit-linear-gradient(top, $start-color, $end-color);
    background: linear-gradient(to bottom, $start-color, $end-color);
  } @else if $orientation == 'horizontal' {
    background: -webkit-linear-gradient(left, $start-color, $end-color);
    background: linear-gradient(to right, $start-color, $end-color);
  } @else {
    background: -webkit-radial-gradient(center, ellipse cover, $start-color, $end-color);
    background: radial-gradient(ellipse at center, $start-color, $end-color);
  }
}

.gradient {
  @include gradient(rgb(226, 239, 241), rgb(96, 94, 99), top left);     //chooses color and orientation of gradient background
}

.wrap {                                   //sets page layout
  display:grid;
  grid-template-areas:
  "header header header"
  "aside-one main main"
  "aside-one main main"
  "footer footer footer"
  ;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

.dark-mode {
  background-color:black;
  color: #f0f0f0;
  transition: all 0.4s ease-in;
}

.paradark {
  background-color: rgb(48, 47, 47);
}

body {  
  font-family: "Poppins", sans-serif;                                  //sets text color white 
  color:black;
  font-size: large;
  transition: all 0.4s ease-in;
  
}


.toggle-switch {
  position: relative;
  display: inline-block;
  width: 3.75rem;
  height: 2.13rem;
  margin-bottom: 0.63rem;
  margin-inline: auto;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  transition: all 0.4s ease-in;
  border-radius: 2.13rem;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.63rem;
  width: 1.63rem;
  left: 0.25rem;
  bottom: 0.25rem;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #ccc;
}

input:focus + .slider {
  box-shadow: 0 0 2px ;
}

input:checked + .slider:before {
  transform: translateX(1.63rem);
}

.header {  
  border-radius: 20px;
  background: lightgrey;                              
  grid-area: header;
  padding: 1rem;
  color: black;
  a {
    color: black;
  }
  a:hover {                                               //adds hover effect to links
    color: rgb(102, 178, 221);
 }    
 }

 .darkheader {  
  border-radius: 20px;
  background: rgb(48, 47, 47);                         
  grid-area: header;
  padding: 1rem;
  color: white;
  a {
    color: white;
  }
  a:hover {
    color: rgb(102, 178, 221);
 }    
 }



.parent {
  width: 19vw;
  height: 80vh;
  overflow: hidden;
}

.parent > img {
  height: 105px;
  width: 100%;
  object-fit: cover;
}



.aside-one {
  grid-area: aside-one;
  padding-left: 7%;
  
}

.main {
  grid-area: main;
  display:flex;
}

.alignr {                                 //aligns content in main and centers text
  padding-left:10%;
  padding-right: 10%;
  justify-content:center;
}

.aligni {
  padding-top: 2rem;
  padding-right: 2%;
}

  @keyframes fadeIn {                     //creates function for fade in text in main
  0% {opacity: 0; }
  100% {opacity: 1;}
}

.fade-in {                                //sets class to fade in content over 3s
  animation: fadeIn 3s ease-in;
  @media (prefers-reduced-motion) {
    animation: fadeIn 0s ease-in;
    font-size: x-large;
  }
}

p {
  border-radius: 10px 30px;
  border: 1px solid;
  padding: 2em;
  background-color: lightgrey;
  text-align: center;
  }

.footer {
  grid-area: footer;
}


 
 


